body{
    background-color: rgb(80, 235, 255);

    #clientFormContainer{
        margin-top: 2rem;
        width: 30%;
        margin: 0 auto;
 

        #clientForm{
            
            .mb-3{
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 600;
            }
        }

    }

    .actions{
        display: flex;
        justify-content: center;
        flex-direction: column;

        .btn{
            background-color: #0d6efd; 
            margin-bottom: 1rem;
        }
    }
}